{%extends 'administration/sidebar_layout.html'%}
    {% load static %}

{%block content%}

    <!-- Start Page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <h1>Add Details</h1>
               
            </div>
        </div>
    </div><!-- End Page Title Section -->
    <!-- Start Doctor List Section -->

        <div class="layer-wrapper text-center">
            <div class="row">
                <div class="col-lg-4">
                     <br><br><br><br>
                   
                        <div class="sub-ttl">Add Details</div>
                        <a href="{% url 'administration:doctor_registration'%}" class="row blog-recent">
                            <div class="col-4 blog-recent-img">
                                <img class="img-responsive img-thumbnail" src="uploads/recent-1.jpg" alt="">
                            </div>
                            <div class="col-8 blog-recent-post">
                                <h3>Add Doctors</h3>
                                
                            </div>
                        </a>
                        <a href="{% url 'administration:registration'%}" class="row blog-recent">
                            <div class="col-4 blog-recent-img">
                                <img class="img-responsive img-thumbnail" src="uploads/recent-1.jpg" alt="">
                            </div>
                            <div class="col-8 blog-recent-post">
                                <h3>Add Users</h3>
                                
                            </div>
                        </a>
                        <a href="{% url 'administration:add_medical'%}" class="row blog-recent">
                            <div class="col-4 blog-recent-img">
                                <img class="img-responsive img-thumbnail" src="uploads/recent-2.jpg" alt="">
                            </div>
                            <div class="col-8 blog-recent-post">
                                <h3>Add Medical Shops</h3>
                           
                            </div>
                        </a>
                       
                        
                   
                    
                </div>

               <!--Form-->
               <form name="form" method="post" action="{% url 'administration:add_medical'%}" enctype="multipart/form-data">
                {% csrf_token %}
            <div id="login-page" class="layer-stretch">
                <h2>Add Medical Shops</h2>
        <div class="layer-wrapper"> 
            <div class="form-container">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">

                      <i class="fa fa-user-o"></i>
                    <input type="text" name="name" class='mdl-textfield__input'>
                    <label class="mdl-textfield__label" for="sample-text-1">Shope name<em> *</em></label>
                   
                </div>
                
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-user-o"></i>
                    <input type="text" name="address" class='mdl-textfield__input'>
                     <label class="mdl-textfield__label" for="sample-text-1">Address<em> *</em></label>
                    
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-envelope-o"></i>
                  <input type="text" name="phone" class='mdl-textfield__input'>
                    <label class="mdl-textfield__label" for="login-email">Phone no<em> *</em></label>
                    
                </div>
                 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-lock"></i>
                  <input type="text" name="pincode" class='mdl-textfield__input'>
                    <label class="mdl-textfield__label" for="login-email">Pincode<em> *</em></label>
                   
                </div>
               


                   <!--  {{form.username}}
                     <label class="mdl-textfield__label" for="sample-text-1">Name<em> *</em></label>
                    {{form.role}}
                     <label class="mdl-textfield__label" for="sample-text-1">Name<em> *</em></label>
                             {{form.email}}
                              {{form.password}}
                               {{form.confirm_password}} -->
          {{ form.password.errors }}
           {{ form.non_field_errors }} 
                   
                </div>
                
                <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-envelope-o"></i>
                    {{form.email}}
                    <label class="mdl-textfield__label" for="login-email">Email <em> *</em></label>
                    <span class="mdl-textfield__error">Please Enter Valid Email!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-envelope-o"></i>
                    {{form.username}}
                    <label class="mdl-textfield__label" for="login-email">User name<em> *</em></label>
                    <span class="mdl-textfield__error">Use Small Cases Without Spaces!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-key"></i>
                    {{form.password}}
                    <label class="mdl-textfield__label" for="login-password">Password <em> *</em></label>
                    <span class="mdl-textfield__error">Please Enter Valid Password!</span>
              
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-phone"></i>
                    {{form.number}}
                    <label class="mdl-textfield__label" for="sample-number-1">Number</label>
                    <span class="mdl-textfield__error">Please Enter Valid Number!</span>
                </div>
                <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label form-input-icon">
                    <i class="fa fa-angle-double-down"></i>
                    {{form.specialisation}}
                        
                        
                    </select>
                    <label class="mdl-selectfield__label" for="sample-selectlist-1">Specialisation</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-calendar-o"></i>
                    {{form.available_date}}
                    <label class="mdl-textfield__label" for="appointment-date">Avaikable Date</label>
                    <span class="mdl-textfield__error">Please Enter Valid Date Number!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-calendar-o"></i>
                    {{form.available_from}}
                    <label class="mdl-textfield__label" for="appointment-date">Available From</label>
                    <span class="mdl-textfield__error">Please Enter Valid Date Number!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-calendar-o"></i>
                    {{form.available_to}}
                    <label class="mdl-textfield__label" for="appointment-date">Available To</label>
                    <span class="mdl-textfield__error">Please Enter Valid Date Number!</span>
                </div> -->
                <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-user-o"></i>
                    {{form.available_from}}
                    <label class="mdl-textfield__label" for="sample-text-1">Available From<em> *</em></label>
                    <span class="mdl-textfield__error">Time Format hh:min am/pm!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-user-o"></i>
                    {{form.available_to}}
                    <label class="mdl-textfield__label" for="sample-text-1">Available To<em> *</em></label>
                    <span class="mdl-textfield__error">Time Format hh:min am/pm!</span>
                </div>-->
                <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-user-o"></i>
                    {{form.photo}}
                   
                   
                </div> -->
                <div class="form-submit">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect button button-primary">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    {%endblock%}