
{%extends 'administration/doctor_layout.html'%}
    {% load static %}

{%block content%}
<!-- End Header -->
    <!-- Start Page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <h1>Edit profile</h1>
                
            </div>
        </div>

    </div> 
    <div id="doctor-page" class="layer-stretch">
    <div class="theme-material-card">
         <form name="form" method="post" action="{% url 'administration:edit_doc' edit_doc.login_id %}" enctype="multipart/form-data">
                {% csrf_token %}
           
            <div class="form-container">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">

                      <i class="fa fa-user-o"></i>
                  <input class="mdl-textfield__input" placeholder="Username" type="text" name="username" value="{{edit_doc.username}}">
                    <label class="mdl-textfield__label" for="sample-text-1">Username<em> *</em></label>
                   
                </div>
                 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">

                      <i class="fa fa-user-o"></i>
                    <input class="mdl-textfield__input" placeholder="Licence No" type="text" name="regno" value="{{edit_doc.regno}}">
                    
                    <label class="mdl-textfield__label" for="sample-text-1">Licence No<em> *</em></label>
                   
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-tag"></i>
                   <input type="text" name="place" class="mdl-textfield__input" value="{{edit_doc.place}}">
                    <label class="mdl-textfield__label" for="login-email">place<em> *</em></label>
                    
                </div>
                <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon" style="display: none;" >
                    <i class="fa fa-user-o"></i>
                    <input type="text" name="place" class="mdl-textfield__input">
                    
                    <label class="mdl-selectfield__select" for="login-email">Designation<em> *</em></label>
                </div> -->

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-envelope-o"></i>
                   <input type="text" name="email" class="mdl-textfield__input"  value="{{edit_doc.email}}">
                    <label class="mdl-textfield__label" for="login-email">Email<em> *</em></label>
                    
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-phone"></i>
                  <input type="text" name="phone" class="mdl-textfield__input" maxlength="10" value="{{edit_doc.phone}}">
                    <label class="mdl-textfield__label" for="login-email">Phone<em> *</em></label>
                    
                </div>
                
                 
                
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-medkit"></i>
                 <select class='mdl-selectfield__select' id='sample-selectlist-1' name="specialisation">
                       
                         {% for x in sp %}
                        <option value="{{x.specilization}}">{{x.specilization}}</option>
                         
                    {% endfor %}
                    </select>
                    <label class="mdl-selectfield__select" for="login-email">Specialisation<em> *</em></label>
                    
                </div>
                 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">

                      <i class="fa fa-user-o"></i>
                    <input class="mdl-textfield__input" type="file" name="photo">
                    
                   
                   
                </div>
                
                   <!--  {{form.username}}
                     <label class="mdl-textfield__label" for="sample-text-1">Name<em> *</em></label>
                    {{form.role}}
                     <label class="mdl-textfield__label" for="sample-text-1">Name<em> *</em></label>
                             {{form.email}}
                              {{form.password}}
                               {{form.confirm_password}} -->
         
                     <div class="form-submit">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect button button-primary">Submit</button>
                </div>
                </form>

                           
                        </div><!-- End Page Title Section -->
    <!-- Start Doctor List Section -->

   
        </div>
            </div>
        </div><!-- End main Footer Section -->
        <!-- Start Copyright Section -->
        
       
       {%endblock%}