{%extends 'administration/sidebar_layout.html'%}
    {% load static %}

{%block content%}

    <!-- Start Page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <h1>Pricription/Tips</h1>
               
            </div>
        </div>
    </div><!-- End Page Title Section -->
    <!-- Start Doctor List Section -->

       

               <!--Form-->
             <div class="theme-material-card blog-full-block">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="blog-full-date">26 June 2017</div>
                               
                            </div>
                            <div class="col-sm-10">
                                <div class="blog-full-ttl">
                                    <h3><a href="#">Which Healthy Food Fads Should You Follow?</a></h3>
                                </div>
                                <div class="blog-full-description">Restinguet citius, si ardentem acceperit. Non est enim vitium in oratione solum, sed etiam in moribus. In schola desinis. An haec ab eo non dicuntur? Longum est enim ad omnia respondere, quae a te dicta sunt. Cetera illa adhibebat, quibus demptis negat se Epicurus intellegere quid sit bonum.</div>
                                <div class="blog-full-ftr">
                                    <a class="pull-left blog-full-author"><i class="fa fa-user"></i> Daniel Barnes</a>
                                   
                                </div>
                            </div>

                        </div>
                    </div>









                      <div class="theme-material-card blog-full-block">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="blog-full-date">26 June 2017</div>
                               
                            </div>
                            <div class="col-sm-10">
                                <div class="blog-full-ttl">
                                    <h3><a href="#">Which Healthy Food Fads Should You Follow?</a></h3>
                                </div>
                                <div class="blog-full-description">Restinguet citius, si ardentem acceperit. Non est enim vitium in oratione solum, sed etiam in moribus. In schola desinis. An haec ab eo non dicuntur? Longum est enim ad omnia respondere, quae a te dicta sunt. Cetera illa adhibebat, quibus demptis negat se Epicurus intellegere quid sit bonum.</div>
                                <div class="blog-full-ftr">
                                    <a class="pull-left blog-full-author"><i class="fa fa-user"></i> Daniel Barnes</a>
                                   
                                </div>
                            </div>
                            
                        </div>
                    </div>



                    
            </div>
        </div>
    </div>
    {%endblock%}